@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: auto;
    background: #3B5998;
    color: #fff;
    width: 100vw;
    height: 50px;
}
.nav-icon {
    width: 40%;
    margin-left: -27px;
}
.nav-icon a{
    text-decoration: none;
    color: #fff;
}
.nav-icon i {
    font-size: 25px;
}
.title{
    width: 50%;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4vh);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.main .heading{
    font-size: 20px;
    font-weight: 700;
}
/* input */
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 15px 0;
}
.name{
    display: flex;
    flex-direction: column;
}
.name label{
    font-size: 14px;
    color: #606770;
    margin-bottom: 4px;
}
.name input{
    border: 1px solid #CCD0D5;
    border-radius: 5px;
    padding: 12px;
}
.name .name-input:focus{
    outline: none;
    border: 2px solid #D1E4FC;
    box-shadow: inset 0 0 0 1px #1877F2;
}
button{
    background: #1877F2;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 10px ;
    width: 250px;
    border-radius: 6px;
}
.link{
    width: 100%;
    padding-left: 18px;
    margin-top: 20px;
}
.link a{
    font-size: 12px;
    color: #606770;
    text-decoration: none;
}
.gap{
    flex-grow: 1;
}
footer div{
    text-align: center;
    font-size: 12px;
    color: #606770;
}
/* .1877F2 */
@media (max-width: 375.98px){
    .input{
        gap: 5px;
        width: 90%;
    }
    .input input{
        width: 90%;
    }
    button{
        width: 70%;
    }
}