*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.screen-height{ height: 100%;}
.flex , .label-flex{
    display:flex;
    align-items: center;
    gap: 10px;
}
.mg-left{ margin-left: 10px; }
.checker{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ---------------------------- */
header{
    position: fixed;
    width: 100%;
    height: 57px;
    background: #283045;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}
.title-box{
    display:flex;
    gap: 15px;
    align-items: center;
}
#menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.title{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}
.logout-btn, .submit-btn{
    color:#fff;
    background: #000;
    padding: 6px 10px;
    border: 1px solid #fff;
    /* border: none; */
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
#logout-btn{display: none;}
.container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.close-menu{
    display: none;
    position: absolute;
    right: 10px;
}
/* menu */
.menu-btn-off{
    display:none;
}
.menu{
    /* display: flex; */
    display:none;
    justify-content: start;
    align-items: start;
    width: 220px;
    /* height: 90%; */
    background: #283045;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 10px;
    font-size: 12px;
    position: relative;
    left: 0;
    /* transform: translateX(-220px); */
    transition: transform 500ms ease-in-out;
    
}
@keyframes anime {
    from{
        transform: translateX(-220px);
    }
    to{
        transform: translateX(0);
    }
}
.button-class{
    display: flex;
    /* display:none; */
    color: #fff;
    justify-content: start;
    align-items: start;
    width: 220px;
    /* height: 90%; */
    background: #283045;
    flex-direction: column;
    padding: 0 20px;
    padding-top: 100px;
    font-size: 12px;
    left: 0;
    transition: transform 500ms ease-in-out;
    animation: anime 500ms linear;
    /* position: relative; */
    /* top: 57px; */
    /* height: calc(100vh - 1vh); */
    /* transform: translateX(-220px); */
}
.menu{
    display:none;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("https://pngimg.com/uploads/naruto/naruto_PNG2.png"); */
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50px;
    margin-bottom: 10px;
}
.profile-img i{
    font-size: 100%;
}
.profile-name{
    font-size: 14px;
    font-weight: 600;
}
.options{
    display:flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 5px;
    /* box-shadow: 
    -1px -1px 0px 0px rgba(255, 255, 255, .2),
    inset -1px -1px 1px 1px rgba(255, 255, 255, .2)
    ; */
    box-shadow: 
    1px -1px 0px 1px rgba(255, 255, 255, .2),
    inset 1px -1px 1px 1px rgba(255, 255, 255, .2)
    ;
    color: #fff; 
}
.options i{ font-size: 14px; }
.options:hover{
    color: #9cf6f4; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 
    1px 1px 0px 0px rgba(255, 255, 255, .2),
    inset 1px 1px 1px 1px rgba(255, 255, 255, .2)
    ;
}
/* main section */
.main{
    width: calc(100% - 10%);
    margin: 10px auto;
    margin-bottom: 0;

}
.info-title{
    font-size: 20px;
    margin:10px ;
    margin-bottom: 30px;
    color: #7A7B70;
}
.info-title i{font-size: 14px;}
/* form sec */
.form-section{
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    margin: 20px;
    padding-top: 20px;
    font-size: 14px;
    transition: all 1s ease-in;
}
.person{
    font-size: 16px;
    margin-bottom: 20px;
}
.date-time :first-child{
    font-weight: bold;
}
table,td{
    border-collapse: collapse;
}
table{
    width:100%;
    height: 350px;
    margin:0;
}
td{
    padding: 10px 10px;
}
td div{
    justify-content: space-around;
}
#btn-td{
    border-bottom: none;
    padding:10px;
}
#btn-td .submit-btn{
    float: inline-end;
    margin-right: 10px;
}
input{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border:none;
    outline: none;
}
td select{
    width:300px;
    padding: 5px;
    border:none;
    border-radius: 5px;
    outline: none;
}
textarea{
    width: 300px;
    border:none;
    outline: none;
}

:is(input,textarea, td select){
    border-bottom: 2px solid #283045;
    border-radius: 0;
}
/* footer */
footer{
    width:100%;
    height: 50px;
    background: #283045;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    font-size: 14px;
    color: #fff;
}
/* responsive */
@media (min-width: 1440px){
    #btn-td .submit-btn{
        margin-right: 50px;
    }
}
@media (min-width: 801px) and (max-width: 1090px){
    tr{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    td{
        width:100%;
    }
    td div{
        justify-content: space-between;
        margin: 0 auto;
        width:80%;
        text-align: start;
    }
}
@media (min-width: 530px) and (max-width: 800px){
   
   
    tr{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    td{
        width:100%;
    }    
    td div{
        /* background: #000; */
        /* flex-direction: column; */
        align-items: start;
        /* justify-content: start; */
        margin: 0 auto;
        /* width:70%; */
    } 
}

@media (max-width: 550px){
    .container{
        height: auto;
    }
    .menu-btn{
        display:block;
    }
    .title{
        font-size: 16px;
    }
    .menu{
        display:none;
    }
    .button-class{
        display: flex;
        background: #283045;
        position: absolute;
        border-bottom-right-radius: 10%;
        color: #fff;
        height: 100%;
        position: fixed;
        top: 57px;
    }
    .menu{
        display: none;
    }
}
@media(max-width: 530px){
    .container{
        height: auto;
        flex-wrap: wrap;
    }
    .logout-btn{display:none}
    #logout-btn{
        display: block;
    }
    
    /* transform: translateX(-220px); */
    .button-class{
        display: flex;
        background: #283045;
        position: absolute;
        border-bottom-right-radius: 10%;
        color: #fff;
        height: 100%;
        position: fixed;
        top: 57px;
    }
    .menu{display: none;}
    .title{
        font-size: 14px;
    }
    tr{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .label-flex{
        display: block;
    }
    td{
        width:100%;
        padding-left: 0;
    }    
    td div{
        flex-direction: column;       
        margin: 0 auto;
        width:90%;
    } 
    .form-section{
        margin: 2px;
        margin-bottom: 10px;
    }
}
@media (min-width: 200px) and (max-width:400px){
    .title{
        font-size: 12px;
        text-align: center;
    }
    .form-section{
        margin: 2px;
        margin-bottom: 10px;
    }
    td{
        width: 100%;
    }
    td div{
        flex-direction: column;       
        margin: 0 auto;
        width:80%;
    } 
    input, textarea, td select{
        width: 100%;
    }
    .date-time{
        flex-direction: column;
        align-items: start;
    }
}